body {

    /**
        ========== Product list page
     */
    .container {

        .top {

        }

        hr {
            border: 2px solid #000000;
            border-radius: 20px 20px;
        }

        .row {

            .col-4 {

                .card {

                }
            }
        }
    }

    /**
        ========== Product add page
     */
    .container {

        #product_form {

            .top {

            }

            hr {
                border: 2px solid #000000;
                border-radius: 20px 20px;
            }

        }
    }
}